h3 {
	color: black;
}

#tabs a {
	font-family: verdana;
	font-size: 25px;
	margin: none;
	color: white;
	border-style: double;
	border-color: black;
	background-color: darkblue;
}

#tabs a:hover {
	border-color: white;
	background-color: lightblue;
}

#social {
	padding-top:10px;
	clear: both;
}

#snapshot {
	width:100%;
	clear:left;
	float:left;
}

#left {
	background:#9c9;
}

#right {
	background:#99c;
}

#interests ul {
	list-style:none;
}

progress {
	background-color: #f3f3f3;
    border: 0;
    height: 18px;
    border-radius: 9px;
}

@media screen and (min-width:600px) {
	#left {
		clear: left;
		float: left;
		width: 33%;
	}

	#right {
		float: left;
		width: 33%;
	}
}
@media screen and (max-width:599px) {
	#left {
		clear: both;
		width: 100%;
	}

	#right {
		clear: both;
		width: 100%;
	}
}
