#bio {
	background-color: red;
	color: white;
	clear: both;
	margin: 0 auto;
}

#vid {
	width: 100%;
	height: 310px;
}

#twitter {
	color: green;
	background-color: lightgreen;
}

#twitch {
	color: yellow;
	background-color: orange;
}

#google {
	color: lightblue;
	background-color: blue;
}

@media screen and (min-width:600px) {
	#twitter {
		width: 33%;
		float: left;
	}

	#twitch {
		width: 33%;
		float: left;
	}

	#google {
		width: 33%;
		float: left;
		clear: right;
	}
}
@media screen and (max-width:599px) {

	#twitter {
		width: 100%;
		clear: both;
	}

	#twitch {
		width: 100%;
		clear: both;
	}

	#google {
		width: 100%;
		clear: both;
	}
}
