.content{
  width:296px;
  margin:0 auto;
  position:relative;
  font-size:12px;
  line-height:1em;
}

.col { width:75%; }

#skill { 
  list-style-type: none;
  padding: 10px 0px;
  margin: 0;
}

#skill li { 
  margin-bottom:35px; 
  background:#e9e5e2;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e1ddd9), to(#e9e5e2));
  background-image: -webkit-linear-gradient(top, #e1ddd9, #e9e5e2);
  background-image: -moz-linear-gradient(top, #e1ddd9, #e9e5e2);
  background-image: -ms-linear-gradient(top, #e1ddd9, #e9e5e2);
  background-image: -o-linear-gradient(top, #e1ddd9, #e9e5e2);
  background-image: linear-gradient(top, #e1ddd9, #e9e5e2);  
  height:20px; 
  border-radius:10px; 
  -moz-box-shadow: 0 1px 0px #bebbb9 inset, 0 1px 0 #fcfcfc;   
  -webkit-box-shadow: 0 1px 0px #bebbb9 inset, 0 1px 0 #fcfcfc;  
  box-shadow: 0 1px 0px #bebbb9 inset, 0 1px 0 #fcfcfc;   
}

#skill li h3 { 
  position:relative; 
  top:-25px;
}

.bar { 
  height:18px; 
  margin:1px 2px;  
  position:absolute;
  border-radius:10px;
  -moz-box-shadow: 0 1px 0px #fcfcfc inset, 0 1px 0 #bebbb9;
  -webkit-box-shadow: 0 1px 0px #fcfcfc inset, 0 1px 0 #bebbb9;  
  box-shadow: 0 1px 0px #fcfcfc inset, 0 1px 0 #bebbb9;
}

.java {
  width:68%; 
  -moz-animation:java 2s ease-out;
  -webkit-animation:java 2s ease-out;
  background-color: #f674a4;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f674a4), to(#e06995));
  background-image: -webkit-linear-gradient(top, #f674a4, #e06995);
  background-image: -moz-linear-gradient(top, #f674a4, #e06995);
  background-image: -ms-linear-gradient(top, #f674a4, #e06995);
  background-image: -o-linear-gradient(top, #f674a4, #e06995);
  background-image: linear-gradient(top, #f674a4, #e06995);
}

.c-sharp {
  width:65%;
  -moz-animation:c-sharp 2s ease-out;
  -webkit-animation:c-sharp 2s ease-out;
  background-color: #f0bb4b;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f0bb4b), to(#d9aa44));
  background-image: -webkit-linear-gradient(top, #f0bb4b, #d9aa44);
  background-image: -moz-linear-gradient(top, #f0bb4b, #d9aa44);
  background-image: -ms-linear-gradient(top, #f0bb4b, #d9aa44);
  background-image: -o-linear-gradient(top, #f0bb4b, #d9aa44);
  background-image: linear-gradient(top, #f0bb4b, #d9aa44);
}

.databases {
  width:72%;
  -moz-animation:databases 2s ease-out;
  -webkit-animation:databases 2s ease-out;
  background-color: #a1ce5b;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#a1ce5b), to(#91ba52));
  background-image: -webkit-linear-gradient(top, #a1ce5b, #91ba52);
  background-image: -moz-linear-gradient(top, #a1ce5b, #91ba52);
  background-image: -ms-linear-gradient(top, #a1ce5b, #91ba52);
  background-image: -o-linear-gradient(top, #a1ce5b, #91ba52);
  background-image: linear-gradient(top, #a1ce5b, #91ba52);
}

.web-services {
  width:56%;
  -moz-animation:web-services 2s ease-out;
  -webkit-animation:web-services 2s ease-out;
  background-color: #66b3cc;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#66b3cc), to(#5da3ba));
  background-image: -webkit-linear-gradient(top, #66b3cc, #5da3ba);
  background-image: -moz-linear-gradient(top, #66b3cc, #5da3ba);
  background-image: -ms-linear-gradient(top, #66b3cc, #5da3ba);
  background-image: -o-linear-gradient(top, #66b3cc, #5da3ba);
  background-image: linear-gradient(top, #66b3cc, #5da3ba); 
}

.html-css {
  width:42%;
  -moz-animation:html-css 2s ease-out;
  -webkit-animation:html-css 2s ease-out;
  background-color: #ff5050;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ff5050), to(#cc0000));
  background-image: -webkit-linear-gradient(top, #ff5050, #cc0000);
  background-image: -moz-linear-gradient(top, #ff5050, #cc0000);
  background-image: -ms-linear-gradient(top, #ff5050, #cc0000);
  background-image: -o-linear-gradient(top, #ff5050, #cc0000);
  background-image: linear-gradient(top, #ff5050, #cc0000); 
}

.javascript {
  width:50%;
  -moz-animation:javascript 2s ease-out;
  -webkit-animation:javascript 2s ease-out;
  background-color: #fdfc66;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fdfc66), to(#ffff66));
  background-image: -webkit-linear-gradient(top, #fdfc66, #ffff66);
  background-image: -moz-linear-gradient(top, #fdfc66, #ffff66);
  background-image: -ms-linear-gradient(top, #fdfc66, #ffff66);
  background-image: -o-linear-gradient(top, #fdfc66, #ffff66);
  background-image: linear-gradient(top, #fdfc66, #ffff66);
}

@-moz-keyframes java          { 0%  { width:0px;} 68% { width:68%;}  }
@-moz-keyframes c-sharp       { 0%  { width:0px;} 65% { width:65%;}  }
@-moz-keyframes databases     { 0%  { width:0px;} 72% { width:72%;}  }
@-moz-keyframes web-services  { 0%  { width:0px;} 56% { width:56%;}  }
@-moz-keyframes html-css      { 0%  { width:0px;} 42% { width:42%;}  }
@-moz-keyframes javascript    { 0%  { width:0px;} 50% { width:50%;}  }

@-webkit-keyframes java          { 0%  { width:0px;} 68% { width:68%;}  }
@-webkit-keyframes c-sharp       { 0%  { width:0px;} 65% { width:65%;}  }
@-webkit-keyframes databases     { 0%  { width:0px;} 72% { width:72%;}  }
@-webkit-keyframes web-services  { 0%  { width:0px;} 56% { width:56%;}  }
@-webkit-keyframes html-css      { 0%  { width:0px;} 42% { width:42%;}  }
@-webkit-keyframes javascript    { 0%  { width:0px;} 50% { width:50%;}  }